<ul class="contact-list">
  <li>
  	<a href="https://www.instagram.com/salongcapillum/" target="_blank">
        <span class="icon icon--email">{% include icon-instagram.svg %}</span>
        <span class="label">Instagram</span>
      </a>
  </li>
  <li>
    <a href="https://www.facebook.com/salongcapillum/" target="_blank">
        <span class="icon icon--email">{% include icon-facebook.svg %}</span>
        <span class="label">Facebook</span>
      </a>
  </li>
  {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email">{% include icon-email.svg %}</span>
        <span class="label">{{ site.data.theme.t.email | default: 'Email' }}</span>
      </a>
    </li>
  {% endif %}
  <li>
  	<a href="/">
        <span class="icon icon--email">{% include icon-email.svg %}</span>
        <span class="label">Boka direkt</span>
      </a>
  </li>
  <li>
    <a href="tel://034614445" target="_blank">
        <span class="icon icon--email">{% include icon-arrow-right.svg %}</span>
        <span class="label">Telefon</span>
      </a>
  </li>
</ul>